{% extends "base.html" %}

{% block content %}
<div class="px-4 py-1 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/static/images/logo.png" alt="" width="200" height="auto">
  <h1 class="display-5 fw-bold">Who is Girludev? </h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">I am the creator of Girludev a company that seeks to provide designer and frontend jobs to
      women, I am currently studying so that my company can reach more women and provide futures with pink codes.</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" class="btn btn-secondary btn-lg px-4 gap-3">to know</button>
      <button type="button" class="btn btn-outline-secondary btn-lg px-4">be a partner</button>
    </div>
  </div>
</div>


{% endblock %}